body {
  display: flex;
  font-size: 1em;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Finger Paint', cursive;
}

header {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  height: 2.5em;
  box-shadow: 0 0 50px black, 0 0 50px black, 0 0 50px black, 0 0 50px black, 0 0 50px black, 0 0 50px black, 0 0 50px black;
  background-color: black;
  position: fixed;
  inset: 0;
  max-width: 100%;
  z-index: 3;

}
  /*задает стили для ссылки на главное меню*/
  .guard-nav-logo {
    position: absolute;
    left: 0.75rem;
    margin-top: 0.6em; /* задаем отступ сверху в em */
  }
  
  /* Стиль для не посещенных ссылок */
  a {
    color: white;
    text-decoration: none; /*Убираем подчёркивание ссылок*/
  }
  
  /*Добавление свечения при наведении на ссылки внутри тега li*/
  li a:hover{
    text-shadow: 0 0 2px #a000a0, 0 0 1px #a000a0, 0 0 30px #a000a0, 0 0 1px #a000a0, 0 0 1px #a000a0, 0 0 1px #a000a0, 0 0 1px #a000a0;
    text-decoration: none;
    transition: 0.3s linear; /* Время изменения */
   }
  
   
  /*ul и li задают стили для списка элементов в навигационном меню*/
  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none; /* Убрал маркер */
  }
  
  nav li {
    margin: 0 20px;
    font-size: 200%;
  }