body {
  display: flex;
  font-size: clamp(0.5rem, 1vw + 0.5rem, 1rem);
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Finger Paint', cursive;
}

header {
  font-size: clamp(0.5rem, 1vw + 0.5rem, 1rem);;
  display: flex;
  justify-content: center;
  height: 2.5em;
  box-shadow: 0 0 50px black, 0 0 50px black, 0 0 50px black, 0 0 50px black, 0 0 50px black, 0 0 50px black, 0 0 50px black;
  background-color: black;
  position: fixed;
  inset: 0;
  max-width: 100%;
  z-index: 3;
}

h2 {
  color: #3914AF;
  font-size: 1.5em;
}

/*Links style*/
a {
  color: white;
  text-decoration: none;
}

/*Light inside tag li*/
li a:hover{
  text-shadow: 0 0 5px #7109AA, 0 0 5px #7109AA, 0 0 30px #7109AA, 0 0 4px #7109AA, 0 0 2px #7109AA, 0 0 1px #7109AA, 0 0 1px #7109AA;
  text-decoration: none;
  transition: 0.3s linear;
}

/*Smooth switching on lighting inside tag li*/
li a:not(:hover){
  text-shadow: 0 0 0px #7109AA;
  transition: 0.3s linear;
}

/*ul и li style*/
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  margin: 0 0.4em;
  font-size: 2em;
}

/* Задаем общие стили для блока */
.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

/* Задаем стили для видео */
.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
 /*Делаем размытие видео на фоне*/
}

/* Задаем стили для логотипа */
.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 70%;
 /* Добавляем адаптивный размер логотипа */
}
/* Задаем стили для верхней картинки-перехода */
.top-image {
  transform: scaleX(-1);
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* Задаем стили для нижней картинки-перехода */
.bottom-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.block {
  text-align: center;

  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
 /* Добавляем position: relative;
  для блока */
}
.block img {
  max-width: none;
  width: 100%;
  height: auto;
}

.block p {
  background-color: black;
  text-shadow: 0 0 5px #FBFE72, 0 0 1px #FBFE72, 0 0 20px #FBFE72, 0 0 1px #FBFE72;
  font-size: 1.4em;
}
/*задает стили для элементов при ширине экрана меньше или равной 768 пикселей. */
legend {
  text-align: center;
 /* Добавляем text-align: center;
  для блока */
  color: #3914AF;
  text-shadow: 0 0 25px #3914AF;
  font-size: 1.7em;
}
/*Убираю рамку вокруг формы заполнения*/
fieldset {
  border: none;
}
/*Стилизация формы отправки*/
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
}
/*Стиль кнопки для отправки формы (ОТПРАВИТЬ) после ввода e-mail, имени и игровой платформы*/
button[type="submit"] {
  font-family: 'Finger Paint', cursive;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2em;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
button[type="submit"]:hover {
  text-shadow: 0 0 2px #7109AA, 0 0 1px #7109AA, 0 0 5px #7109AA;
  color: #7109AA;
}
/*Стиль вводимого текста*/
.form-control {
  text-align: center;
  font-family: 'Finger Paint', cursive;
  background-color: black;
}

input[type="text"], input[type="email"], select {
  width: 40%;
  box-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 20px #ffffff;
  padding: 0.1em;
  color: white;
  border: none;
  font-size: 1.2em;
  margin-top: 0.8em;
  margin-bottom: 1em;
  outline: none;
  border-radius: 0.5em;
}

/* Подсветка по внешнему контуру */
input[type="text"]:focus, input[type="email"]:focus{
  background-color: rgb(90, 139, 220, 0.1);
  box-shadow: 0 0 5px #3914AF, 0 0 5px #3914AF, 0 0 20px #3914AF,0 0 5px #3914AF;
}

label[for="platform"] {
  font-size: 1.5em; /* Размер шрифта для текста "Your gaming platform" */
  color: #3914AF; /* Цвет текста для текста "Your gaming platform" */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/*Картинки для соц.сетей*/
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
.social-links ul {
  display: flex;
}
.social-links li {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.social-links img {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
}